
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    background-color:ghostwhite;
}
header{
    background-color: indianred;
    text-align: center;
}
/* Menu Items */
nav{
   
    background-color:black;
}
nav ul{
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    
    
}
nav li{
    
    list-style: none;
    margin: 16px;
    

}
nav a{
    color: white;
    text-decoration: none;
    margin:10px;
    padding: 16px;
    
}
nav a:hover{
    background-color: silver;
}
/* Toggle mode */
/* nav img{
    width: 50px;
    height:50px;
    margin: 20px;
    background-color: black;
    border-radius: 50px;

}
nav img:hover{
    cursor: pointer;

}
nav img{
    
} */

/* Section Items */
section{
    background-color: khaki;
    height: auto;
    width: auto;

}
section img{
    display: flex;
    max-width: 100%;
    height: auto;
    flex-wrap: wrap;
   
    
}
/* Main Content */
section{
    background-color:black;
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       margin: 2px;
       color: white;
       padding: 2px;
       max-width: 100%;
}
.main .left-side{
    flex:30%;
}
.left-side img{
    width: 90%;
    margin-left: 2%;
    border-radius: 50%;
}


.main .middle{
    flex:40%;
}
.main .right-hand{
    
    flex:30%;
}

.right-hand .fill-form{
    display: flexbox;
    background-color:gray;
    width: 80%;
    margin: 30px 13%;
    flex-wrap: wrap;
   
}
.fill-form input{
    width: 80%;
    height: 35px;
    border-radius: 5px;
    margin: 3% 7%;
    border:none;
}
.fill-form textarea{
    margin: 3% 7%;
}

aside{
    background-color: lightgray;
}
footer{
    background-color: indianred;
}
/* dealing with text */
p{
    /* justify-content: center; */
    text-align: justify;
    line-height: 35px;
    
}
h3{
    text-align: center;
    margin: 30px auto 10px auto;
}
#con1, #con2, #con3{
    line-height: 40px;
    text-align: center;
}
/* Button */

.main a{
    margin:20px 20px 20px 50px;
    display: inline-block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    background-color:gray;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 5px;

    
    
}
/* Transitions */
.transition{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    justify-content: center;
    height: 160px;
    
    
}

.trans-shape{
   width: 60px;
   height: 60px;
   background-color:darkolivegreen;
   
   
   margin: 20px;
   transition: width 2s, height 2s, transform 2s;
   
   
}
.trans-shape:hover{
   width:150px;
   height:150px;
   border-radius: 100px;
   background-color:darkorchid;
   transform: rotate(180deg);
   
}
.transition h4{
   margin: 20px 20px;
}
.transition .trans-shape{
    align-self: flex-end;
}



/* Animation */
/* .animate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}
@keyframes ani1{
    
    to{width: 0.265rem;}
}

.animation-1{
    width:38.75rem;
    height: 100px;
    background-color: black;
    
    animation-name: ani1;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite; 
}

@keyframes ani2{
    
    to{width: 0.265rem;}
}
.animation-2{
    width:38.75rem;
    height: 100px;
    background-color: black;

    animation-name: ani2;
    animation-duration: 3s;
    animation-delay: 2s;
    
    animation-fill-mode: forwards;
    animation-iteration-count: infinite; 
} */
@keyframes happiness{
    0%{color:white;}
    15%{color:burlywood;}
    30%{color:cornflowerblue;}
    45%{color:darkkhaki;}
    60%{color:darkolivegreen;}
    75%{color:orchid;}
    85%{color:darkturquoise;}
    100%{color:greenyellow;}
}
.left-side h3{
    position: relative;
    animation-name:happiness;
    animation-fill-mode: both;
    animation-duration: 8s;
    animation-iteration-count: infinite;

}

/* Button */
#upbtn{
    display: flex;
    background-color: black;
    flex-direction: row;
    justify-content:  flex-end;
    flex-wrap: wrap;
    
}
#upbtn img{
    height: 40px;
    width: 40px;
    border-radius: 100%;
}



/* footer*/

footer{
    display: flex;
    background-color:black;
    color: white;
    height:100px;
    justify-content: space-evenly;
    border-top: 4px solid white;
    

}

footer ul{
    display: flex;
    
    
}
footer ul li{
    list-style-type: none;
}
footer li a{
    
}
footer img{
    margin: 10px;
    padding: 7px;
    width:50px;
    height: 50px;
    border-radius: 50%;

}
footer .fut{
    align-self: flex-end;
}
/* iPhon5 */
@media  (max-width:320px) {
    .nav {
        flex: 100%;
    }
    
}
@media (max-width:320px){
    main.left-side{
        flex: 100%;
    }
}
@media (max-width:320px){
    .main .middle{
        flex: 100%;
    }
}

@media screen and (min-width: 320px){
    .section{ flex: 100%;

    }
}
/* iPhone6/7/8 */
@media  (max-width:375px) {
    .nav {
        flex: 100%;
    }
    
}
@media (max-width:375px){
    main.left-side{
        flex: 100%;
    }
}
@media (max-width:375px){
    .main .middle{
        flex: 100%;
    }
}

@media screen and (min-width: 375px){
    .section{ flex: 100%;

    }
}
/* iPhone 6/7/8/plus  and X */
@media  (max-width:414px) {
    .nav {
        flex: 100%;
    }
    
}
@media (max-width:414px){
    main.left-side{
        flex: 100%;
    }
}
@media (max-width:414px){
    .main .middle{
        flex: 100%;
    }
}

@media screen and (min-width: 414px){
    .section{ flex: 100%;

    }
}
/* Moto G4 */
@media  (max-width:360px) {
    .nav {
        flex: 100%;
    }
    
}
@media (max-width:360px){
    main.left-side{
        flex: 100%;
    }
}
@media (max-width:360px){
    .main .middle{
        flex: 100%;
    }
}

@media screen and (min-width: 360px){
    .section{ flex: 100%;

    }
}